<div class='timer-container'>
  <h1>Mono Timer</h1>

  <div id='timer-time' class='timer-time'>
    <%= seconds_to_timer_str(@timer.remaining_seconds) %>
  </div>

  <% if @timer.not_completed? == false %>
    <%= button_to "Start",
      { controller: 'timers', action: 'create' },
        method: :post, class: 'btn btn-success btn-xl' %>
  <% else %>
    <% if @timer.id %>
      <% if @timer.paused? %>
        <%= button_to "Stop",
          { controller: 'timers', action: 'stop', id: @timer.id},
            method: :post, class: 'btn btn-success btn-xl' %>

        <%= button_to "Resume",
          { controller: 'timers', action: 'resume', id: @timer.id},
            method: :post, class: 'btn btn-success btn-xl' %>
      <% else %>
        <%= button_to "Pause",
          { controller: 'timers', action: 'pause', id: @timer.id},
            method: :post, class: 'btn btn-success btn-xl' %>
      <% end %>
    <% end %>
  <% end %>

  <div class='footer'>
    <div class="btn-group" role="group">
      <%= link_to "History", { controller: 'timers', action: 'history'}, class: "btn btn-default" %>
      <%= link_to 'Monitoring', sidekiq_web_path, class: "btn btn-default" %>
    </div>
  </div>

  <%= javascript_tag do %>
    window.remainingSeconds = '<%= @timer.remaining_seconds %>';
    window.isCountingDown   = '<%= @timer.counting_down? %>';
    window.timerId          = '<%= @timer.id %>';
  <% end %>
</div>
