<h1>Timer History</h1>

<div class='header'>
  <%= link_to "Index", { controller: 'timer', action: 'index'} %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @timers.each do |timer| %>
      <tr>
        <td><%= timer.id %></td>
        <td><%= to_display_time(timer.start_time) %></td>
        <td><%= to_display_time(timer.end_time) %></td>
        <td>
          <%= button_to 'Destroy', timer_path(timer), :method => :delete, :class => 'btn btn-mini btn-danger' %>
        </td.
      </tr>
    <% end %>
  </tbody>
</table>

<div><%= paginate(@timers) %></div>
<div><%= page_entries_info(@timers) %></div>
