<div class='timer-container'>
  <h1>Mono Timer</h1>

  <div id='timer-time' class='timer-time'>
    <%= seconds_to_timer_str(@timer.remaining_seconds) %>
  </div>

  <%= button_to "Start",
    { controller: 'timer', action: 'create' },
      method: :post, class: 'btn btn-success btn-xl' %>

  <%= button_to "Stop", "#",
    onclick: "stopTimer(" + @timer.id.to_s + "); return false;",
    class: 'btn btn-primary btn-xl' %>

  <div class='footer'>
    <div class="btn-group" role="group">
      <%= link_to "History", { controller: 'timer', action: 'history'}, class: "btn btn-default" %>
      <%= link_to 'Monitoring', sidekiq_web_path, class: "btn btn-default" %>
    </div>
  </div>

  <%= javascript_tag do %>
    window.remainingSeconds = '<%= @timer.remaining_seconds %>';
    window.isTimerActive = '<%= @timer.counting_down? %>';
  <% end %>
</div>
