<div class='timer-container'>
  <h1>Mono Timer</h1>

  <div id='timer-time' class='timer-time'>
    <%= seconds_to_timer_str(@remaining_time) %>
  </div>

  <%= button_to "Start", { controller: 'timer', action: 'create' }, method: :post, class: 'btn btn-success btn-xl' %>
  <%= button_to "Stop",  { controller: 'timer', action: 'create' }, method: :post, class: 'btn btn-primary btn-xl' %>

  <div class='footer'>
    <%= link_to "History", { controller: 'timer', action: 'history'} %>
  </div>

  <%= javascript_tag do %>
    window.timerCount = '<%= @remaining_time %>';
  <% end %>
</div>
