<div class='timer-container'>
  <h1>Mono Timer</h1>

  <div id='timer-time' class='timer-time'></div>

  <%= button_to "Start", { controller: 'timer', action: 'create' }, method: :post, class: 'btn btn-success btn-xl' %>
  <%= button_to "Stop",  { controller: 'timer', action: 'create' }, method: :post, class: 'btn btn-primary btn-xl' %>

  <div class='footer'>
    <%= link_to "History", { controller: 'timer', action: 'history'} %>
  </div>

  <%= javascript_tag do %>
    window.remainingSeconds = '<%= @timer.remaining_seconds %>';
    window.isTimerActive = '<%= @timer.counting_down? %>';
  <% end %>
</div>
